.date,
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.9;
  height: 90%;
}
.todayDate,
.day {
  color: whitesmoke;
}
.todayDate {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 10px 0px;
}
.day {
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-top:2px;
}
.info__weather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__weather__icon {
  display: inline-block;
  margin-right: 0.5rem;
}
.info__weather__temp {
  font-size: 2rem;
  font-weight: 700;
  color: whitesmoke;
}
.info__location {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: whitesmoke;
}
