.clock{
    font-size: 7rem;
    font-weight: 700;
    color:whitesmoke;
    margin-bottom: 15px;
}
.nameInput{
    font-size: 3rem;
    outline: none;
    background: transparent;
    text-align: center;
    border: none;
    color:whitesmoke;
}
.nameInput:focus{
    color:whitesmoke;
}
.nameInput::placeholder{
    color:whitesmoke;
    opacity: 80%;
}
.nameInput:focus::placeholder{
    color: transparent;
}
.greeting{
    font-size: 2.3rem;
    color:whitesmoke;
    margin-bottom: 15px;
    font-weight: 500;
    animation: dropDown 1s cubic-bezier(.25,.46,.45,.94) both 1.5s;
}
.none{
    display: none;
}